absl-py==1.3.0
accelerate==0.18.0
addict==2.4.0
aiohttp==3.8.3
aiosignal==1.3.1
aliyun-python-sdk-core==2.13.36
aliyun-python-sdk-kms==2.16.0
altair==4.2.2
antlr4-python3-runtime==4.8
anyio==3.6.2
anytree==2.8.0
apex==0.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.1.1
astunparse==1.6.3
async-timeout==4.0.2
asynctest==0.13.0
attrs==22.1.0
backcall==0.2.0
backoff==2.2.1
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
bert-score==0.3.10
bitarray==2.7.3
bitsandbytes==0.37.1
bleach==5.0.1
blinker==1.6.2
blis==0.7.9
boto3==1.26.5
botocore==1.29.5
bpemb==0.3.4
cachetools==5.2.0
catalogue==2.0.8
certifi @ file:///croot/certifi_1665076670883/work/certifi
cffi==1.15.1
charset-normalizer==2.1.1
click==7.1.2
cloudpickle==2.2.0
cmake==3.26.3
colorama==0.4.6
confection==0.0.4
configobj==5.0.6
conllu==4.5.2
cpm-kernels==1.0.11
crcmod==1.7
cryptography==39.0.2
cycler==0.11.0
cymem==2.0.7
Cython==0.29.34
datasets==2.10.0
debugpy==1.6.3
decorator==5.1.1
deepspeed==0.8.1
defusedxml==0.7.1
Deprecated==1.2.13
dill==0.3.5.1
docker-pycreds==0.4.0
docopt==0.6.2
dulwich==0.20.50
editdistance==0.5.3
einops==0.6.0
en-core-web-sm==3.4.0
entrypoints==0.4
et-xmlfile==1.1.0
evaluate==0.3.0
everett==3.1.0
fairscale==0.4.6
fairseq==0.12.2
fastBPE==0.1.0
fastjsonschema==2.16.2
filelock==3.8.0
fire==0.5.0
flair==0.9
flatbuffers==1.12
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2022.11.0
ftfy==6.1.1
future==0.18.2
gast==0.4.0
gdown==3.12.2
gensim==3.8.3
gitdb==4.0.9
GitPython==3.1.29
google-auth==2.14.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==2.0.2
grpcio==1.50.0
h11==0.14.0
h5py==3.7.0
hjson==3.1.0
httpcore==0.16.3
httpx==0.23.3
huggingface-hub==0.11.0
hydra-core==1.0.7
hyperopt==0.2.7
icetk==0.0.4
idna==3.4
importlib-metadata==3.10.1
importlib-resources==5.10.0
ipykernel==6.16.2
ipython==7.34.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
Janome==0.4.2
jedi==0.18.2
jieba==0.42.1
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.2.0
jsonplus==0.8.0
jsonschema==4.17.0
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-server==1.23.3
jupyter_client==7.4.7
jupyter_core==4.11.2
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
konoha==4.6.5
langchain==0.0.27
langcodes==3.3.0
langdetect==1.0.9
language-tool-python==2.5.5
lemminflect==0.2.2
libclang==14.0.6
lit==16.0.2
lmdb==1.3.0
lru-dict==1.1.7
lxml==4.9.1
Markdown==3.0
markdown-it-py==2.2.0
MarkupSafe==2.1.1
matplotlib==3.5.3
matplotlib-inline==0.1.6
mdurl==0.1.2
megatron-lm @ git+https://github.com/huggingface/Megatron-LM.git@100b522bb8044d98413398f9e71563af15b83325
megatron-util==1.3.1
mistune==2.0.4
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
mock==5.0.1
modelscope==1.3.2
more-itertools==8.8.0
mosec==0.6.0
mpld3==0.3
msgpack==1.0.5
multidict==6.0.2
multiprocess==0.70.13
murmurhash==1.0.9
nbclassic==0.4.8
nbclient==0.7.0
nbconvert==7.2.5
nbformat==5.7.0
nest-asyncio==1.5.6
networkx==2.6.3
ninja==1.11.1
nltk==3.6.2
notebook==6.5.2
notebook_shim==0.2.2
num2words==0.5.10
numpy==1.21.6
nvidia-ml-py==11.515.75
nvitop==0.10.1
oauthlib==3.2.2
omegaconf==2.0.6
openai==0.27.2
OpenHowNet==2.0
openpyxl==3.0.10
opt-einsum==3.3.0
oss2==2.16.0
overrides==3.1.0
packaging==21.3
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.3
pathtools==0.1.2
pathy==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
pinyin==0.4.0
pkgutil_resolve_name==1.3.10
portalocker==2.6.0
preshed==3.0.8
prometheus-client==0.15.0
promise==2.3
prompt-toolkit==3.0.33
protobuf==3.20.0
psutil==5.9.4
ptyprocess==0.7.0
py-cpuinfo==9.0.0
py4j==0.10.9.7
pyarrow==10.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.10.3
pycld2==0.41
pycparser==2.21
pycryptodome==3.17
pydantic==1.8.2
pydeck==0.8.1b0
Pygments==2.13.0
Pympler==1.0.1
pyparsing==3.0.9
pyrsistent==0.19.2
PySocks==1.7.1
pythainlp==3.1.1
python-crfsuite==0.9.9
python-dateutil==2.8.2
pytorch-nlp==0.5.0
pytz==2022.6
pytz-deprecation-shim==0.1.0.post0
pyvi==0.1.1
PyYAML==6.0
pyzmq==24.0.1
qtconsole==5.4.0
QtPy==2.3.0
regex==2022.10.31
requests==2.28.1
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
responses==0.18.0
rfc3986==1.5.0
rich==13.3.4
rouge==1.0.1
rsa==4.9
s3transfer==0.6.0
sacrebleu==2.3.1
sacremoses==0.0.53
scikit-learn==1.0.2
scipy==1.7.3
segtok==1.5.11
semantic-version==2.10.0
Send2Trash==1.8.0
sentencepiece==0.1.95
sentry-sdk==1.10.1
seqeval==1.2.2
setproctitle==1.3.2
shortuuid==1.0.11
simplejson==3.18.3
six @ file:///tmp/build/80754af9/six_1644875935023/work
sklearn==0.0.post1
sklearn-crfsuite==0.3.6
smart-open==5.2.1
smmap==5.0.0
sniffio==1.3.0
socksio==1.0.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
spacy==3.4.4
spacy-legacy==3.0.10
spacy-loggers==1.0.4
SQLAlchemy==2.0.12
sqlitedict==2.0.0
srsly==2.4.5
streamlit==1.21.0
subword-nmt==0.3.8
tabulate==0.9.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
tensorflow==2.8.0
tensorflow-estimator==2.9.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.28.0
termcolor==1.1.0
terminado==0.17.0
terminaltables==3.1.0
tf-estimator-nightly==2.8.0.dev2021122109
thinc==8.1.8
threadpoolctl==3.1.0
tinycss2==1.2.1
tokenizers==0.12.1
toml==0.10.2
toolz==0.12.0
torch==1.12.1+cu113
torchaudio==0.12.1+cu113
torchvision==0.13.1+cu113
tornado==6.2
tqdm==4.64.1
traitlets==5.5.0
transformers @ git+https://github.com/huggingface/transformers@506e7c636118b08ab8a91c23c510761c91ed83f3
triton==2.0.0.post1
typer==0.3.2
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
urllib3==1.26.12
validators==0.20.0
wandb==0.13.5
wasabi==0.10.1
watchdog==3.0.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.3
Werkzeug==2.2.2
widgetsnbextension==4.0.3
Wikipedia-API==0.5.4
word2number==1.1
wrapt==1.14.1
wurlitzer==3.0.2
xxhash==3.1.0
yapf==0.32.0
yarl==1.8.1
zhconv==1.4.3
zipp==3.10.0
